.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -5%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: -5%;
    justify-items: center;
    align-items: start;

}
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 5%;
    }
}
.col-md-4 {
    width: 100%;
}

.custom-button {
    background-color: black;
    /* Set background color to black */
    color: white;
    /* Set text color to white */
    border: none;
    /* Remove border */
    padding: 10px 20px;
    /* Add padding for button shape */
    border-radius: 5px;
    /* Add border radius for button shape */
    cursor: pointer;
    /* Change cursor on hover */
    font-size: 16px;
    /* Set font size */
}

.card {
    border: none;
    padding: 5%;
    box-sizing: border-box;
    width: 350px;
    display: flex;
    flex-direction: column;
    /* Adjust card content alignment */
}
/* .card {
    box-sizing: border-box;
    width: 100%;
} */

.card-img-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 75%;
    /* Maintain 4:3 aspect ratio */
}

.card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale();
}

.card-body {
    flex: 1;
    /* Expand card-body to fill available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin: top -100px;
}

p {
    color: darkgray;
    line-height: 1.2;
    font-size: small;
    font-weight: 550;
    margin-top: 1px;
}

h5 {
    font-weight: 600;
    font-size: large;
    margin: top -1px;
    /* Add margin between card content */
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5%;
    margin-left: -5%;
}

span {
    color: darkgray;
}

::-webkit-scrollbar {
    display: none;
}

/* Additional styles for pagination */
::ng-deep {
    .ngx-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .ngx-pagination li {

        width: 35px;
        height: 35px;
        border-radius: 50% !important;
        background: grey;
        display: flex;
        justify-content: center;
        align-items: center;

        &.pagination.previous,
        &.pagination-next {
            width: 10px;
            overflow: hidden;
        }


    }
}

::ng-deep .ngx-pagination li {
    display: inline-block;
}