<!-- Most Popular -->
<div class="card" style="width: 1075px;margin-top: 20px; margin-bottom: 20px;margin-left: 5%;">
    <div class="card-body">
        <p><b>Most Popular</b></p>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="assets/Img2d.png" id="imgTag">
                    <div class="card-body">
                        <p style="font-size: small;"><b>Certified DESIGN THINKING for agile product scoping</b></p>
                        <a href="#" class="btn btn-dark">View Course</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="assets/Img3d.png" id="imgTag">
                    <div class="card-body">
                        <p style="font-size: small;"><b>Developing an Information Architecture with card Sorting</b>
                        </p>
                        <a href="#" class="btn btn-dark">View Course</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="assets/Img.png" id="imgTag">
                    <div class="card-body">
                        <p style=" font-size: small;"><b>Design Thinking-Complete Stage Design Thinking </b></p>
                        <a href="#" class="btn btn-dark">View Course</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>