<div class="certitab">
    <a routerLink="/">Home</a> / <a routerLink="/training-certifications">Training&amp;Certifications</a> / <a
        routerLink="/certifications">Certifications</a> / Advanced Certificate in UIUX....
</div>

<div class="container">
    <div class="column1">
        <div class="tool">
            <ul id="train">
                <li><a href="" style="text-decoration: none; font-size: large; color: gray;">About</a></li>
                <li><a href="" style="text-decoration: none; font-size: large; color: gray; padding-left: 50px;">How Its
                        Works</a></li>
                <li><a href=""
                        style="text-decoration: none; font-size: large; color: gray; padding-left: 50px;">Syllabus</a>
                </li>
                <li><a href="" style="text-decoration: none; font-size: large; color: gray; padding-left: 50px;">FAQ</a>
                </li>
            </ul>
        </div>

        <div class="div1">

            <h4 class="h">Frequently Asked Questions</h4>

            <div class="accordion accordion-flush " >
                <div class="accordion-item" >
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" >
                            How do download your  certification on completion?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>
                

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            How do create and use notes?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            How do download course resources?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            How do download your  certification on completion?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            How do create and use notes?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="parabutton">
                <input type="button" value="Send Request"
                    style="background-color: black; color: white; border-radius: 5px; height: 25px;">
            </div>
        </div>
    </div>

    <div class="column2">
        <div class="sidebar">
            <p><strong>About the Certificate</strong></p>
            <p><strong>Shareable Certificate</strong></p>
            <p><img src="" alt="">Earn a Certificate upon completion</p>
            <p><strong>100% online courses</strong></p>
            <p>Start instantly and learn at your own schedule.</p>
            <p><strong>Shareable Certificate</strong></p>
            <p>Earn a Certificate upon completion</p>
            <p><strong>Flexible Schedule</strong></p>
            <p>Set and maintain flexible deadlines.</p>
            <p><strong>Beginner Level</strong></p>
            <p>No degree or prior experience required</p>
            <p><strong>Approximately 6 months to complete</strong></p>
            <p>Suggested pace of 10 hours/week</p>
            <p><strong>English</strong></p>
            <p>Subtitles: English, Arabic, French, Portuguese (European), Italian, Portuguese (Brazilian), Vietnamese,
                German, Russian, Spanish</p>
        </div>
    </div>
</div>