
<div class="grid-container">
    <div class="row">
        <div class="card-container card mb-4" style="height: 350px;">
            <img src="assets/glee.webp" class="rounded-start" alt="..." style="width: 400px; height: 350px;">
        <div class="card-body">
          <h5 class="card-title">140 Downloads of High-quality
            Royalty-free Footage, After Effects Templates and Video Backgrounds
            Understand your audience, envision a creative solution,
            and test your prototype
          </h5>
          <p class="card-text">July 6,2022  .15 min read</p>
          <div class="d-flex align-items-center">
<img src="assets/aut.jpg" class="rounded-circle me-2 card-author-image" alt="Author Image" width="40" height="40">
            <span class="card-author" style="color: #666666;">Cameron Williamson</span>
            <div class="ms-auto">
              <i class="fa fa-bookmark"></i>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card-container card mb-4" style="height: 350px;">
        <img src="assets/glee.webp" class="rounded-start" alt="..." style="width: 400px; height: 350px;">
        <div class="card-body">
            <h5 class="card-title">140 Downloads of High-quality
                Royalty-free Footage, After Effects Templates and Video Backgrounds
                Understand your audience, envision a creative solution,
                and test your prototype
              </h5>          <p class="card-text">July 6,2022  .15 min read</p>
          <div class="d-flex align-items-center">
            <img src="assets/aut.jpg" class="rounded-circle me-2 card-author-image" alt="Author Image">
            <span class="card-author" style="color: #666666;">Cody Fisher</span>
            <div class="ms-auto">
              <i class="fa fa-bookmark"></i>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card-container card mb-4" style="height: 350px;">
        <img src="assets/glee.webp" class="rounded-start" alt="..." style="width: 400px; height: 350px;">
        <div class="card-body">
            <h5 class="card-title">140 Downloads of High-quality
                Royalty-free Footage, After Effects Templates and Video Backgrounds
                Understand your audience, envision a creative solution,
                and test your prototype
              </h5>          <p class="card-text">July 6,2022  .15 min read</p>
          <div class="d-flex align-items-center">
            <img src="assets/aut.jpg" class="rounded-circle me-2 card-author-image" alt="Author Image">
            <span class="card-author" style="color: #666666;">Jane Cooper</span>
            <div class="ms-auto">
              <i class="fa fa-bookmark"></i>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card-container card mb-4" style="height: 350px;">
        <img src="assets/glee.webp" class="rounded-start" alt="..." style="width: 400px; height: 350px;">
        <div class="card-body">
            <h5 class="card-title">140 Downloads of High-quality
                Royalty-free Footage, After Effects Templates and Video Backgrounds
                Understand your audience, envision a creative solution,
                and test your prototype
              </h5>          <p class="card-text">July 6,2022  .15 min read</p>
          <div class="d-flex align-items-center">
            <img src="assets/aut.jpg" class="rounded-circle me-2 card-author-image" alt="Author Image">
            <span class="card-author" style="color: #666666;">Floyd Miles</span>
            <div class="ms-auto">
              <i class="fa fa-bookmark"></i>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card-container card mb-4" style="height: 350px;">
        <img src="assets/glee.webp" class="rounded-start" alt="..." style="width: 400px; height: 350px;">
        <div class="card-body">
            <h5 class="card-title">140 Downloads of High-quality
                Royalty-free Footage, After Effects Templates and Video Backgrounds
                Understand your audience, envision a creative solution,
                and test your prototype
              </h5>          <p class="card-text">July 6,2022  .15 min read</p>
          <div class="d-flex align-items-center">
            <img src="assets/aut.jpg" class="rounded-circle me-2 card-author-image" alt="Author Image">
            <span class="card-author" style="color: #666666;">Jenny Wilson</span>
            <div class="ms-auto">
              <i class="fa fa-bookmark"></i>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card-container card mb-4" style="height: 350px;">
        <img src="assets/glee.webp" class="rounded-start" alt="..." style="width: 400px; height: 350px;">
        <div class="card-body">
            <h5 class="card-title">140 Downloads of High-quality
                Royalty-free Footage, After Effects Templates and Video Backgrounds
                Understand your audience, envision a creative solution,
                and test your prototype
              </h5>          <p class="card-text">July 6,2022  .15 min read</p>
          <div class="d-flex align-items-center">
            <img src="assets/aut.jpg" class="rounded-circle me-2 card-author-image" alt="Author Image" >
            <span class="card-author" style="color: #666666;">Robert Fox</span>
            <div class="ms-auto">
              <i class="fa fa-bookmark"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container" style="height: 2500px; width: 900px; position: absolute; top: 47%; right: 10%;">

        <h3>Trending Blogs</h3>
        <br>
        <div class="card mb-4" style="border: none; margin-top: 50px; margin-right: 20px;">
          <img src="assets/image.jpg" class="card-img-top" alt="Image 1" style="width: 150px; height: 120px">
          <div class="card-body">
            <div class="label-box">Tech Stack</div>
            <h5 class="card-title" style="margin-top: 40px;">What is the difference between the Product Manager and Project Manager?</h5>
            <div class="card-info">
              <span class="card-date">June 16, 2023</span>
              <span class="card-time">10:00 AM</span>
              <div class="card-type"></div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="card mb-4" style="border: none; margin-top: 50px; margin-right: 20px;">
          <img src="assets/image.jpg" class="card-img-top" alt="Image 1" style="width: 150px; height: 120px">
          <div class="card-body">
            <div class="label-box">Psychology</div>
            <h5 class="card-title" style="margin-top: 40px;">What is the difference between the Product Manager and Project Manager?</h5>
            <div class="card-info">
              <span class="card-date">June 17, 2023</span>
              <span class="card-time">2:30 PM</span>
              <div class="card-type">
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="card mb-4" style="border: none; margin-top: 50px; margin-right: 20px;">
          <img src="assets/image.jpg" class="card-img-top" alt="Image 1" style="width: 150px; height: 120px">
          <div class="card-body">
            <div class="label-box">Business</div>
            <h5 class="card-title" style="margin-top: 40px;">What is the difference between the Product Manager and Project Manager?</h5>
            <div class="card-info">
              <span class="card-date">June 18, 2023</span>
              <span class="card-time">4:00 PM</span>
              <div class="card-type">
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="card mb-4" style="border: none;margin-top: 50px; margin-right: 20px;">
          <img src="assets/image.jpg" class="card-img-top" alt="Image 1" style="width: 150px; height: 120px">
          <div class="card-body">
            <div class="label-box">Productivity</div>
            <h5 class="card-title" style="margin-top: 40px;">What is the difference between the Product Manager and Project Manager?</h5>
            <div class="card-info">
              <span class="card-date">June 19, 2023</span>
              <span class="card-time">9:30 AM</span>
              <div class="card-type">
              </div>
            </div>
          </div>
        </div>
        <br>
          <br>
          <br>
    <h3 style="font-family: Manrope;">Recommended Topics</h3>
    <button class="btn" style="background: #CCCCCC;" disabled>Money</button>
    <button class="btn" style="background: #CCCCCC;" disabled>Business</button>
    <button class="btn" style="background: #CCCCCC;" disabled>Productivity</button>
    <button class="btn" style="background: #CCCCCC;" disabled>Mindfulness</button>
    <br>
    <br>
    <button class="btn" style="background: #CCCCCC;" disabled>Art</button>
    <button class="btn" style="background: #CCCCCC;" disabled>Science</button>
    <button class="btn" style="background: #CCCCCC;" disabled>Book</button>

    <div class="suggestions-container">
        <p>See more suggestions</p>
        <h3 class="follow-heading">Who to follow</h3>
        <div class="follow-cards">
          <div class="card1">
            <div class="card-image">
              <img src="assets/not.jpeg" alt="Profile Image" class="rounded-image">
            </div>
            <div class="card-content">
              <div class="author-info">
                <h4 class="card-author1">Jane Cooper</h4>
                <button class="follow-button" style="background-color: white;">Follow</button>
              </div>
              <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="card1">
            <div class="card-image">
              <img src="assets/not.jpeg" alt="Profile Image" class="rounded-image">
            </div>
            <div class="card-content">
              <div class="author-info">
                <h4 class="card-author1">Wade Warren</h4>
                <button class="follow-button" style="background-color: white;">Follow</button>
              </div>
              <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="card1">
            <div class="card-image">
              <img src="assets/not.jpeg" alt="Profile Image" class="rounded-image">
            </div>
            <div class="card-content">
              <div class="author-info">
                <h4 class="card-author1">Esther Howard</h4>
                <button class="follow-button" style="background-color: white;">Follow</button>
              </div>
              <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
      

    

   
      </div>


    
    
    </div>

   
  </div>