<!-- featured blogs-->
<div class="card" style="width: 1075px;margin-top: 20px; margin-bottom: 20px;margin-left: 5%;">
    <div class="card-body">
        <p><b>Featured blogs</b></p>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="assets/Imgf1.png" alt="Card image cap" id="imgTag">
                    <div class="card-body">
                        <p class="card-text" style="font-size: small;"><b>Become a UI Designer Complete Series
                                Coding to Design</b><br>By author Anand Subramaniam</p>


                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="assets/Imgf2.png" alt="Card image cap" id="imgTag">
                    <div class="card-body">
                        <p class="card-text" style="font-size: small;"><b>Web Accessibility:Learn Best
                                Practices,Tools & Techniques</b><br>By author Anand Subramaniam</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="assets/Imgf3.png" alt="Card image cap" id="imgTag">
                    <div class="card-body">
                        <p class="card-text" style="font-size: small;"><b>Certified DESIGN & THINKING for agile
                                product scoping</b><br>By author Anand Subramaniam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>