<!-- <div>
    <div class="breadcrumbs">
      <a  style="color: grey;">Home</a> /
      <a  style="color: grey;">Category</a> /
      <a  style="color: grey;">Subcategory</a> /
      Current Page
    </div>
    <div class="container" id="div1">
      <div class="tit1">Skill Assessment</div>
      <div class="content1">We launch quiz tests regularly so you can test your knowledge, gain exposure, and earn badges. Explore our open quizzes and submit answers!</div>
      <div class="img-1">
        <img src="logo1" alt="temp">
        <img src="logo2" alt="temp">
        <img src="logo3" alt="temp">
        <img src="logo4" alt="temp">
      </div>
    </div>
    <div id="div2">
      <div class="badge">
        <img src="badge1" alt="temp">
      </div>
      <div class="date1">
        26 June 2022
      </div>
      <div class="tit2">
        Figma Smart Animate Quiz Test
      </div>
      <div class="content2">
        Smart Animate is one of the animation types you can use in a prototype.
      </div>
      <div class="content3">
        Take Quiz
      </div>
    </div>
  </div>
  <div id="buttonDiv" style="height: 80px; width: 90%; margin-top: 40px; margin-left: 100px;">
    <button class="tag">All</button>
    <button style="margin-left: 10px;" class="tag">Python</button>
    <button style="margin-left: 10px;" class="tag">Java</button>
    <button style="margin-left: 10px;" class="tag">C++</button>
    <button style="margin-left: 10px;" class="tag">MongoDB</button>
  </div>
  
  <div id="secondDiv" style="width: 100%; height: 1000px; margin-left: 100px; mix-blend-mode: luminosity;">
    <div style="width: 60%; height: 100%; float: left;">
      <div style="width: 100%; height: 100px; margin-bottom: 10px; background: white; border: 1px solid grey; border-radius: 5px;">
        <div style="width: 12%; height: 100%; float: left;">
          <img src="thumb1" alt="temp" style="height: 90px; margin: 4.5px;">
        </div>
        <div style="width: 70%; height: 100%; float: left;">
          <h4 style="margin: 5px;">
            Microsoft Azure : Azure 
          </h4>
          <p style="margin: 5px; color: gray;">
            Topics: Azure Data Platform, Container Solutions, DevOps in Azure, Identity and Access
          </p>
          <p style="margin-top: 2px; margin-left: 5px; color: gray;">
            253 people took this
          </p>
        </div>
        <div style="width: 18%; height: 100%; float: right;">
          <button style="width: 90%; margin-top: 35px; background-color: black; border-radius: 3px; color: white;">
            Take Skill Quiz
          </button>
        </div>
      </div>
      <div style="width: 100%; height: 100px; margin-bottom: 10px; background: white; border: 1px solid grey; border-radius: 5px;">
        <div style="width: 12%; height: 100%; float: left;">
          <img src="thumb2" alt="temp" style="height: 90px; margin: 4.5px;">
        </div>
        <div style="width: 70%; height: 100%; float: left;">
          <h4 style="margin: 5px;">
            Search Engine Optimization (SEO)
          </h4>
          <p style="margin: 5px; color: gray;">
            Topics: Analytics, Foundational SEO Knowledge, Off-Page SEO, On-Page SEO, Technical
          </p>
          <p style="margin-top: 2px; margin-left: 5px; color: gray;">
            253 people took this
          </p>
        </div>
        <div style="width: 18%; height: 100%; float: right;">
          <button style="width: 90%; margin-top: 35px; background-color: black; border-radius: 3px; color: white;">
            Take Skill Quiz
          </button>
        </div>
      </div>
      <div style="width: 100%; height: 100px; margin-bottom: 10px; background: white; border: 1px solid grey; border-radius: 5px;">
        <div style="width: 12%; height: 100%; float: left;">
          <img src="thumb3" alt="temp" style="height: 90px; margin: 4.5px;">
        </div>
        <div style="width: 70%; height: 100%; float: left;">
          <h4 style="margin: 5px;">
            After Effects
          </h4>
          <p style="margin: 5px; color: gray;">
            Topics: Azure Data Platform, Container Solutions, DevOps in Azure, Identity and Access
          </p>
          <p style="margin-top: 2px; margin-left: 5px; color: gray;">
            253 people took this
          </p>
        </div>
        <div style="width: 18%; height: 100%; float: right;">
          <button style="width: 90%; margin-top: 35px; background-color: black; border-radius: 3px; color: white;">
            Take Skill Quiz
          </button>
        </div>
      </div>
      <div style="width: 100%; height: 100px; margin-bottom: 10px; background: white; border: 1px solid grey; border-radius: 5px;">
        <div style="width: 12%; height: 100%; float: left;">
          <img src="thumb4" alt="temp" style="height: 90px; margin: 4.5px;">
        </div>
        <div style="width: 70%; height: 100%; float: left;">
          <h4 style="margin: 5px;">
            User-Experience(UX) and Usability 
          </h4>
          <p style="margin: 5px; color: gray;">
            Topics: Azure Data Platform, Container Solutions, DevOps in Azure, Identity and Access
          </p>
          <p style="margin-top: 2px; margin-left: 5px; color: gray;">
            253 people took this
          </p>
        </div>
        <div style="width: 18%; height: 100%; float: right;">
          <button style="width: 90%; margin-top: 35px; background-color: black; border-radius: 3px; color: white;">
            Take Skill Quiz
          </button>
        </div>
      </div>
      <div style="width: 100%; height: 100px; margin-bottom: 10px; background: white; border: 1px solid grey; border-radius: 5px;">
        <div style="width: 12%; height: 100%; float: left;">
          <img src="thumb5" alt="temp" style="height: 90px; margin: 4.5px;">
        </div>
        <div style="width: 70%; height: 100%; float: left;">
          <h4 style="margin: 5px;">
            Dreamweaver
          </h4>
          <p style="margin: 5px; color: gray;">
            Topics: Azure Data Platform, Container Solutions, DevOps in Azure, Identity and Access
          </p>
          <p style="margin-top: 2px; margin-left: 5px; color: gray;">
            253 people took this
          </p>
        </div>
        <div style="width: 18%; height: 100%; float: right;">
          <button style="width: 90%; margin-top: 35px; background-color: black; border-radius: 3px; color: white;">
            Take Skill Quiz
          </button>
        </div>
      </div>
      <div style="width: 100%; height: 100px; margin-bottom: 10px; background: white; border: 1px solid grey; border-radius: 5px;">
        <div style="width: 12%; height: 100%; float: left;">
          <img src="thumb6" alt="temp" style="height: 90px; margin: 4.5px;">
        </div>
        <div style="width: 70%; height: 100%; float: left;">
          <h4 style="margin: 5px;">
            Unity
          </h4>
          <p style="margin: 5px; color: gray;">
            Topics: Azure Data Platform, Container Solutions, DevOps in Azure, Identity and Access
          </p>
          <p style="margin-top: 2px; margin-left: 5px; color: gray;">
            253 people took this
          </p>
        </div>
        <div style="width: 18%; height: 100%; float: right;">
          <button style="width: 90%; margin-top: 35px; background-color: black; border-radius: 3px; color: white;">
            Take Skill Quiz
          </button>
        </div>
      </div>
      <div style="width: 100%; height: 100px; margin-bottom: 10px; background: white; border: 1px solid grey; border-radius: 5px;">
        <div style="width: 12%; height: 100%; float: left;">
          <img src="thumb7" alt="temp" style="height: 90px; margin: 4.5px;">
        </div>
        <div style="width: 70%; height: 100%; float: left;">
          <h4 style="margin: 5px;">
            Cybersecurity
          </h4>
          <p style="margin: 5px; color: gray;">
            Topics: Azure Data Platform, Container Solutions, DevOps in Azure, Identity and Access
          </p>
          <p style="margin-top: 2px; margin-left: 5px; color: gray;">
            253 people took this
          </p>
        </div>
        <div style="width: 18%; height: 100%; float: right;">
          <button style="width: 90%; margin-top: 35px; background-color: black; border-radius: 3px; color: white;">
            Take Skill Quiz
          </button>
        </div>
      </div>
    </div>
    <div style="width: 25%; height: 100%; margin-left: 2%; float: left;">
      <div style="width: 100%; height: 250px; background: white; border: 1px solid grey; border-radius: 5px;">
        <h4 style="margin-top: 15px; margin-left: 20px;">Achievements</h4>
        <h3 style="margin-top: 15px; margin-left: 20px; color: grey;">182<span style="margin-left: 60px;">759</span><span style="margin-left: 60px;">3</span><span style="margin-left: 75px;">2</span></h3>
        <h6 style="margin-top: 15px; margin-left: 20px; color: grey;">&nbsp;Rank<span style="margin-left: 63px;">Points</span><span style="margin-left: 42px;">Badges</span><span style="margin-left: 40px;">Retake</span></h6>
        <div style="margin-top: 40px;"><img src="Ach1" style="width: 50px; height: 50px; margin-left: 20px;"><img src="Ach2" style="width: 50px; height: 50px; margin-left: 50px;"><img src="Ach3" style="width: 50px; height: 50px; margin-left: 40px;"></div>
      </div>
      <div style="width: 100%; height: 450px; margin-top: 10px; background: white; border: 1px solid grey; border-radius: 5px;">
        <h4 style="margin-top: 15px; margin-left: 20px;">June Month Performers</h4>
        <table style="height: 400px; width: 90%; border: 2px solid ForestGreen; border-collapse: collapse; margin-left: 20px; border-style: hidden;">
          <tr>
            <td style="width: 70px;"><img src="profile1" style="height: 50px; width: 50px;"></td>
            <td>Nicolas Cage</td>
            <td>#1</td>
          </tr>
          <tr>
            <td><img src="profile2" style="height: 50px; width: 50px;"></td>
            <td>Maddy Curie</td>
            <td>#2</td>
          </tr>
          <tr>
            <td><img src="profile3" style="height: 50px; width: 50px;"></td>
            <td>Simon joseph</td>
            <td>#3</td>
          </tr>
          <tr>
            <td><img src="profile4" style="height: 50px; width: 50px;"></td>
            <td>Steve Smith</td>
            <td>#4</td>
          </tr>
          <tr>
            <td><img src="profile5" style="height: 50px; width: 50px;"></td>
            <td>Brendon Smith</td>
            <td>#5</td>
          </tr>
        </table>
      </div>
    </div>
  </div> -->