  <!-- <div class="container">
    <div class="side">
        <p class="certitab">Home / Free Resources</p>
        <div class="heading">
            <app-sidebar></app-sidebar>
        </div>
       
    </div>
    <div class="freeresourcenav">
        <app-resource-navbar></app-resource-navbar>
       
    </div>
    <div class="dropdown">
        <select name="select" id="checkboc">
            <option value="">Sort By Newest</option>
            <option value="">Sort By Oldest</option>
        </select>
    </div>
    
</div> -->
<div>
    <div class="row">
        <div class="left">
            <p class="certitab">Home / Free Resources</p>
            <app-sidebar></app-sidebar>
        </div>
      <div class="right">
        <app-resource-navbar></app-resource-navbar>

     </div>   
    </div>

</div>
<router-outlet></router-outlet>
