<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-between">
      
      <div class="d-flex">
        
        <a class="navbar-brand d-flex align-items-center" href="#" id="logo">
          <img
            src="assets/logo.png"
            height="20"
            alt="MDB Logo"
            loading="lazy"
            style="margin-top: 2px;"
            />
        </a>
        <p id="kanini">Kanini<p id="Academy"> Academy</p> 
        
        <form class="input-group w-auto my-auto d-none d-sm-flex m-5"
          id="search">
          <input
            autocomplete="off"
            type="search"
            class="form-control rounded"
            placeholder="Search courses,blogs,news,etc.,"
            style="min-width: 125px;"
            id="input"
            />
          <span class="input-group-text border-0 d-none d-lg-flex"><i
              class="fa fa-search"></i></span>
        </form>
      </div>
      
      <ul class="navbar-nav flex-row" id="rlist">
        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link hidden-arrow" href="#">
            <i class="fa fa-heart" id="heart"></i>
          </a>
        </li>

        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link hidden-arrow" href="#">
            <i class="fa fa-bell" id="bell"></i>
          </a>

        </li>
        <li class="nav-item dropdown me-3 me-lg-1">
          <a class="nav-link hidden-arrow" href="#">
            <i class="fa fa-user" aria-hidden="true" id="user"></i>
          </a>

        </li>

      </ul>
     
    </div>
  </nav>