<p class="certitab">Home / Training&Certifications / Training</p>
<div class="container">
    <app-sidebar></app-sidebar>

    <div class="column2">
        <div class="tool">


            <ul id="train">
                <li><a href="" style="text-decoration: none;  font-size: large; color: black;">Training</a></li>
                <li><a router-link="Training"
                        style="text-decoration: none; font-size: large; color: black;padding-left: 50px;">Certifications</a>
                </li>
            </ul>

            <select name="select" id="checkboc" style="float: right;">
                <option value="">Sort By Newest</option>
                <option value="">Sory By Oldest</option>
            </select>
        </div>

        <div style="padding-top: 50px;">
            <div class="card">
                <div class="grid-container">
                    <div class="item1">
                        <img src="" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="item2">
                        <h5 class="card-title">Advanced Certificate in Full Stack web Development</h5>
                        <p class="card-text">KeySkill:- Linux,No Sql Database, MongoDb, HTML, Css, PHP, React Js,
                            Node Js, Docker Container Concepts,CI/CD Pipeline, Big O Notation.....</p>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-2 col-md-5"><strong>231 Hrs</strong>
                                <p>Online Class</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>300 Hrs</strong>
                                <p>Projects</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>300 Hrs</strong>
                                <p>Videos</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>Certificate Pass</strong>
                                <p>Guaranteed</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>Training Format</strong>
                                <p>Live Class</p>
                            </div>

                        </div>
                    </div>

                    <div class="item3"><input type="button" value="View Details"
                        style="background-color: white;color: black; border-radius: 5px; height: 25x;">
                </div>
                    <!-- <div class="item3">
                        <button class="btn btn-dark" href="#">View Details</button>
                         (click)="startTraining()" 
                    </div> -->
                </div>
            </div>


            <div class="card">
                <div class="grid-container">
                    <div class="item1">
                        <img src="" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="item2">
                        <h5 class="card-title">Advanced Certificate in UI UX Design Strategy</h5>
                        <p class="card-text">KeySkill:- Linux,No Sql Database, MongoDb, HTML, Css, PHP, React Js,
                            Node Js, Docker Container Concepts,CI/CD Pipeline, Big O Notation.....</p>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-2 col-md-6"><strong>231 Hrs</strong>
                                <p>Online Class</p>
                            </div>

                            <div class="col-lg-2 col-md-6 vl"><strong>300 Hrs</strong>
                                <p>Projects</p>
                            </div>

                            <div class="col-lg-2 col-md-6 vl"><strong>300 Hrs</strong>
                                <p>Videos</p>
                            </div>

                            <div class="col-lg-2 col-md-6 vl"><strong>Certificate Pass</strong>
                                <p>Guaranteed</p>
                            </div>

                            <div class="col-lg-2 col-md-6 vl"><strong>Training Format</strong>
                                <p>Live Class</p>
                            </div>
                        </div>
                    </div>
                    <div class="item3"><input type="button" value="View Details"
                        style="background-color: white;color: black; border-radius: 5px; height: 25x;">
                </div>
                </div>
            </div>

            <div class="card">
                <div class="grid-container">
                    <div class="item1"><img src="" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="item2">
                        <h5 class="card-title">Advanced Certificate in Full Stack web Development</h5>
                        <p class="card-text">KeySkill:- Linux,No Sql Database, MongoDb, HTML, Css, PHP, React Js,
                            Node Js, Docker Container Concepts,CI/CD Pipeline, Big O Notation.....</p>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-2 col-md-5"><strong>231 Hrs</strong>
                                <p>Online Class</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>300 Hrs</strong>
                                <p>Projects</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>300 Hrs</strong>
                                <p>Videos</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>Certificate Pass</strong>
                                <p>Guaranteed</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>Training Format</strong>
                                <p>Live Class</p>
                            </div>

                        </div>
                    </div>
                    <div class="item3"><input type="button" value="View Details"
                        style="background-color: white;color: black; border-radius: 5px; height: 25x;">
                </div>
                </div>
            </div>

            <div class="card">
                <div class="grid-container">
                    <div class="item1"><img src="" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="item2">
                        <h5 class="card-title">Advanced Certificate in UI UX Design Strategy</h5>
                        <p class="card-text">KeySkill:- Linux,No Sql Database, MongoDb, HTML, Css, PHP, React Js,
                            Node Js, Docker Container Concepts,CI/CD Pipeline, Big O Notation.....</p>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-2 col-md-5"><strong>231 Hrs</strong>
                                <p>Online Class</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>300 Hrs</strong>
                                <p>Projects</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>300 Hrs</strong>
                                <p>Videos</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>Certificate Pass</strong>
                                <p>Guaranteed</p>
                            </div>

                            <div class="col-lg-2 col-md-5 vl"><strong>Training Format</strong>
                                <p>Live Class</p>
                            </div>

                        </div>
                    </div>
                    <div class="item3"><input type="button" value="View Details"
                        style="background-color: white;color: black; border-radius: 5px; height: 25x;">
                </div>
                </div>
            </div>

            <div class="grid-item">
                <h2>Most Popular Courses</h2>
            </div>

            <div class="card">
                <div class="grid-container">
                    <div class="item1"><img src="" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="item2">
                        <h5 class="card-title">Advanced Certificate in Full Stack web Development</h5>
                        <p class="card-text">KeySkill:- Linux,No Sql Database, MongoDb, HTML, Css, PHP, React Js,
                            Node Js, Docker Container Concepts,CI/CD Pipeline, Big O Notation.....</p>
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-2 col-md-5"><strong>231 Hrs</strong>
                                    <p>Online Class</p>
                                </div>
    
                                <div class="col-lg-2 col-md-5 vl"><strong>300 Hrs</strong>
                                    <p>Projects</p>
                                </div>
    
                                <div class="col-lg-2 col-md-5 vl"><strong>300 Hrs</strong>
                                    <p>Videos</p>
                                </div>
    
                                <div class="col-lg-2 col-md-5 vl"><strong>Certificate Pass</strong>
                                    <p>Guaranteed</p>
                                </div>
    
                                <div class="col-lg-2 col-md-5 vl"><strong>Training Format</strong>
                                    <p>Live Class</p>
                                </div>
    
                            </div>
                    </div>
                    <div class="item3"><input type="button" value="View Details"
                        style="background-color: white;color: black; border-radius: 5px; height: 25x;">
                </div>
                </div>
            </div>

            <div class="card">
                <div class="grid-container">
                    <div class="item1"><img src="" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="item2">
                        <h5 class="card-title">Advanced Certificate in UI UX Design Strategy</h5>
                        <p class="card-text">KeySkill:- Linux,No Sql Database, MongoDb, HTML, Css, PHP, React Js,
                            Node Js, Docker Container Concepts,CI/CD Pipeline, Big O Notation.....</p>
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-2 col-md-5"><strong>231 Hrs</strong>
                                    <p>Online Class</p>
                                </div>
    
                                <div class="col-lg-2 col-md-5 vl"><strong>300 Hrs</strong>
                                    <p>Projects</p>
                                </div>
    
                                <div class="col-lg-2 col-md-5 vl"><strong>300 Hrs</strong>
                                    <p>Videos</p>
                                </div>
    
                                <div class="col-lg-2 col-md-5 vl"><strong>Certificate Pass</strong>
                                    <p>Guaranteed</p>
                                </div>
    
                                <div class="col-lg-2 col-md-5 vl"><strong>Training Format</strong>
                                    <p>Live Class</p>
                                </div>
    
                            </div>
                    </div>
                    <div class="item3"><input type="button" value="View Details"
                        style="background-color: white;color: black; border-radius: 5px; height: 25x;">
                </div>
                </div>
            </div>
        </div>

    </div>
</div>
<router-outlet></router-outlet>