<!-- Continue Learning -->
<div class="card" style="width: 1075px;margin-top: 20px; margin-bottom: 20px;margin-left: 5%;">
    <div class="card-body">
        <p><b>Continue Learning</b></p>
        <div class="row">
            <div class="col">
                <img src="assets/2.webp" alt="Card image cap" width="300px"
                    style="border-radius: 10px  10px 0px 0px;" id="imgTag">
                <p style="font-size: small;"><b>Python: The Big Picture-Jason clison(Beginner)</b><br>1:50mins</p>
            </div>
            <div class="col">

                <img src="assets/pexels-photo-5483245.webp" width="300px"
                    style="border-radius: 10px  10px 0px 0px;" id="imgTag">

                <p style="font-size: small;"><b>Data Science:The Complete Guide(Beginner)</b><br>1:50mins</p>
            </div>
        </div>
    </div>
</div>