<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


<div class="popup">
  <div class="close-icon">
    <span class="fas fa-times"></span>
  </div>
  <h1>Welcome to Kanini blog!</h1>
  <p>What kind of title are you interested in?</p>
  <div class="button-container">
    <button id="design-btn" class="button">Design</button>
    <button class="button">Illustration</button>
    <button class="button">Health</button>
    <button class="button">Food</button>
    <button class="button">Psychology</button>
    <button class="button">Notion</button>
    <button id="website-btn" class="button">Website</button>
    <button class="button">Culture</button>
    <button class="button">Business</button>
    <button class="button">Money</button>
    <button class="button">Productivity</button>
    <button class="button">Science</button>
    <button class="button">Art</button>
    <button class="button">Book</button>
    <button class="button">Design</button>
    <button class="button">Illustration</button>
    <button class="button">Health</button>
    <button class="button">Food</button>
    <button class="button">Psychology</button>
    <button class="button">Notion</button>
    <button class="button">Website</button>
  </div>
  <button id="continue-btn" class="button" >Continue</button>
  
 
</div>