<div class="container">
    <div class="column1">
    
        <Strong>Resouces Categories</Strong>
        <div style="padding-top: 40px;">
        </div>
        <div class="sidebar">
            <ul>
                <li><a href="#">Development</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Finance & Accounting</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Human Resouces</a></li>
                <li><a href="#">Marketing</a></li>
            </ul>
        </div>
    </div>
    </div>