<div class="container">
    <p class="text-muted">Home/Free Resource/Templates/SmartHome APP UI Kit</p>
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-8">
                    <h5>Smart Home App UI Kit</h5>
                </div>
                <div class="col-1">
                    <!-- Empty column for spacing -->
                </div>
                <div class="col">
                    <a class="btn btn-dark" style="float:right">Download Now</a>
                </div>
            </div>
            <p class="text-muted">Created by Created by Andrew Willamson</p>
            <div class="ratio ratio-16x9">
                <img class="border rounded" [src]="freeResources[0]?.thumbnail" alt="Thumbnail">
            </div>
            <br>
            <article id="ar1">
                <h3>{{ freeResources[0]?.description }}</h3>
                <p style="color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint porro, iste
                    inventore
                    eius laborum</p>
                <h2>Main Features</h2>
                <ul>
                    <li>Black/White phone options</li>
                    <li>Fully layered smartphones</li>
                    <li>Separate backgrounds</li>
                    <li>Use of Smart Objects for easier edits</li>
                    <li>Organized-Easy to Use</li>
                </ul>
                <h2><button class="btn btn-dark" style="float:left">Download Now</button></h2>
            </article>
        </div>
        <div class="col-3">
            <img src="./assets/img/img1.jpg" class="img" style="float:left;">
            <div class="row">
                <div style="float:right">
                    <p>Malt Milner</p>
                    <p class="text-muted" style="font-weight:none;line-height: 0%;">Product designer</p>
                </div>
            </div>
            <p style="font-size: 14px;text-align:left;" class="text-muted">Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Sint porro, iste inventore eius laborum quia repudiandae labore repellat cupiditate
                placeat ipsam corrupti exercitationem qui nemo facilis libero, quasi aliquid nisi.</p>
            <br>
            <h4>Item Info</h4>
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-4" style="float:left; font-size: larger">Category</div>
                <div class="col" style="float:right; font-size: larger">Rating</div>
            </div>
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-4" style="float:left; font-size: larger;">Rating</div>
                <div class="col" style="float:right; font-size: larger">4.7<svg xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-half" viewBox="0 0 16 16">
                        <path
                            d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                    </svg></div>
            </div>
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-4" style="float:left; font-size: larger">My Rating</div>
                <div class="col" style="float:right;height:2px;; font-size: larger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg><span>(write review)</span>
                </div>
            </div>

            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-4" style="float:left; font-size: larger">Uploades</div>
                <div class="col" style="float:right; font-size: larger">12 March 2022</div>
            </div>

            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-4" style="float:left; font-size: larger">version</div>
                <div class="col" style="float:right; font-size: larger">v11.02</div>
            </div>
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-4" style="float:left; font-size: larger">Updated</div>
                <div class="col" style="float:right; font-size: larger">17June2022</div>
            </div>
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-4" style="float:left; font-size: larger">Size</div>
                <div class="col" style="float:right; font-size: larger">17.20KB</div>
            </div>
            <hr class="hr hr-blurry" /><br>


            <br>
            <h4>Share Course</h4>
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-facebook" viewBox="0 0 16 16" style="font-size:30px;color:grey">
                        <!-- Facebook icon -->
                    </svg>
                </div>
                <div class="col-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-twitter" viewBox="0 0 16 16" style="font-size:30px;color:grey">
                        <!-- Twitter icon -->
                    </svg>
                </div>
                <div class="col-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-linkedin" viewBox="0 0 16 16" style="font-size:30px;color:grey">
                        <!-- LinkedIn icon -->
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- <br><br><br> -->
    <h3>Related Resources</h3>
    <br>
    <div class="row">
        <div class="col-md-3" *ngFor="let resource of freeResources.slice(0, 4)">
            <div class="card">
                <img [src]="resource.thumbnail" class="card-img-top" alt="image1">
                <div class="card-body">
                    <h5 class="card-title">{{resource.title}}</h5>
                    <p class="card-text">By {{resource.providedBy}}</p>
                    <button type="button" class="btn btn-dark"
                        style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem; color: aliceblue;">Download</button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-download" viewBox="0 0 16 16" style="font-size:30px;color:white">
                        <!-- Download icon -->
                    </svg>
                </div>
            </div>
        </div>
    </div>

</div>

