<div class="certitab">
    <a routerLink="/">Home</a> / <a routerLink="/training-certifications">Training&amp;Certifications</a> / <a routerLink="/certifications">Certifications</a> / Advanced Certificate in UIUX....
</div>

<div class="container">
    <div class="column1">
        <div class="tool">
            <ul id="train">
                <li><a href="" style="text-decoration: none; font-size: large; color: gray;">About</a></li>
                <li><a href="" style="text-decoration: none; font-size: large; color: gray; padding-left: 50px;">How Its Works</a></li>
                <li><a href="" style="text-decoration: none; font-size: large; color: gray; padding-left: 50px;">Syllabus</a></li>
                <li><a href="" style="text-decoration: none; font-size: large; color: gray; padding-left: 50px;">FAQ</a></li>
            </ul>
        </div>

        <div class="div1">
            <hr>

            <p class="learn"><strong>What is a Professional Certificate?</strong></p>

            <p class="para">Build the Skills to Get Job Ready</p>

            <p class="para">Whether you’re looking to start a new career or change your current one, Professional Certificates on Coursera help you become job ready. Learn at your own pace, whenever and wherever it’s most convenient for you. Enroll today and explore a new career path with a 7-day free trial. You can pause your learning or end your subscription at any time.</p>

            <p class="learn">Hands-On Projects</p>

            <p class="para">Apply your skills with hands-on projects and build a portfolio that showcases your job readiness to potential employers. You'll need to successfully finish the project(s) to earn your Certificate.</p>

            <p class="learn"><strong>Earn a Career Credential</strong></p>

            <p class="para">When you complete all of the courses in the program, you'll earn a Certificate to share with your professional network as well as unlock access to career support resources to help you kickstart your new career. Many Professional Certificates have hiring partners that recognize the Professional Certificate credential, and others can help prepare you for a certification exam. You can find more information on individual Professional Certificate pages where it applies.</p>

            <div class="parabutton">
                <input type="button" value="Send Request" style="background-color: black; color: white; border-radius: 5px; height: 25px;">
            </div>
        </div>
    </div>

    <div class="column2">
        <div class="sidebar">
            <p><strong>About the Certificate</strong></p>
            <p><strong>Shareable Certificate</strong></p>
            <p><img src="image 44.png" alt="">Earn a Certificate upon completion</p>
            <p><strong>100% online courses</strong></p>
            <p>Start instantly and learn at your own schedule.</p>
            <p><strong>Shareable Certificate</strong></p>
            <p>Earn a Certificate upon completion</p>
            <p><strong>Flexible Schedule</strong></p>
            <p>Set and maintain flexible deadlines.</p>
            <p><strong>Beginner Level</strong></p>
            <p>No degree or prior experience required</p>
            <p><strong>Approximately 6 months to complete</strong></p>
            <p>Suggested pace of 10 hours/week</p>
            <p><strong>English</strong></p>
            <p>Subtitles: English, Arabic, French, Portuguese (European), Italian, Portuguese (Brazilian), Vietnamese, German, Russian, Spanish</p>
        </div>
    </div>
</div>